# ========================
#  Uploads folder
# ========================

# Ignore everything in uploads
/assets/uploads/*

# But keep the folder and .gitkeep file
!/assets/uploads/
!/assets/uploads/.gitkeep


# ========================
#  Config folder
# ========================

# Ignore only db.php (keep everything else)
config/database/*
